.theme-switcher .dropdown-item:active {
  --bs-dropdown-link-active-bg: var(--bs-success-bg-subtle);
  color: var(--bs-dropdown-link-color);
}

@media (min-width: 768px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .dropdown > .dropdown-toggle:active {
    pointer-events: none;
  }
}

.theme-switcher .dropdown-menu svg {
  pointer-events: none;
}

@media (min-width: 768px) {
  .theme-switcher .dropdown-menu {
    margin-left: -100px;
  }
}

