@keyframes fadeIn {
  0% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 268px) {
  h1 {
    max-width: 100%;
    overflow-wrap: break-word;
  }
}

@media (min-width: 807px) {
  .pill-option.scrolled {
    visibility: visible;
    content-visibility: visible;
    display: initial;
  }

  #nav.scrolled {
    border-radius: 3rem;
    width: 75%;
    top: 1rem;
    margin-left: calc(50% - 37.5vw);
  }

  #nav {
    will-change: margin;
    border-radius: 0;
    top: 0;
    width: 100%;
    transition: top 0.5s ease, border-radius 0.5s ease, margin-left 0.5s ease;
    margin-left: calc(50% - 49.45vw);
    background-color: var(--bs-dark);
  }

  [data-bs-theme=dark] {
    #nav.scrolled {
      background-color: darkred;
    }
  }
}

.dark-text {
  color: var(--bs-dark);
}

@media (max-width: 807px) {
  #nav {
    border-radius: 0;
    top: 0;
    width: 100%;
    background-color: var(--bs-dark);
  }
}

.pill-selector {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pill-option {
  padding: 0.7rem 1.4rem; 
  background-color: goldenrod; 
  color: white; 
  border-radius: 5rem; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  visibility: hidden;
  content-visibility: hidden;
  display: none;
}
 
.pill-option:hover {
  background-color: gold;
}

.pill-option.selected {
  background-color: red; 
}
 

body {
  animation: 1.2s ease-out 0s 1 fadeIn;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

