@media (min-width: 807px) {
    .pill-option.scrolled {
      visibility: visible;
      content-visibility: visible;
      display: initial;
    }
  
    #nav {
      border-radius: 1.5rem;
      width: 75%;
      top: 1rem;
      margin-left: calc(50% - 37.5vw);
      background-color: var(--bs-dark);
      backdrop-filter: blur(0.9);
      opacity: 0.95;
    }
}

@media (min-width: 807px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}