.dark-text {
    color: var(--bs-dark);
}
  
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

@media (max-width: 268px) {
    h1 {
      max-width: 100%;
      overflow-wrap: break-word;
    }
}

#nav {
    border-radius: 4rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bs-border-color);
    width: 75%;
    top: 1rem;
    margin-left: calc(50% - 37.5vw);
    backdrop-filter: blur(20px);
}

.nav-link {
  margin-left: 3rem;
}
  
  
@media (min-width: 807px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}